/* src/app/globals.css */

/* 1. Hubungkan ke tailwind.config.ts */
@config "../../tailwind.config.ts";

/* 2. Import Tailwind v4 */
@import "tailwindcss";

/* ===== RESET & GLOBAL ===== */

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff; /* light: putih */
  color: #1f2933;            /* text neutral */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  background-color: #F2C94C;
  color: #111827;
}

/* Light mode default */
html:not(.dark) body {
  background-color: #ffffff;
  color: #1f2933;
}

/* Dark mode */
html.dark body {
  background-color: #050608; /* global dark */
  color: #F3F3E8;
}

/* hilangkan scrollbar tapi tetap bisa di-scroll */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}
